## Listas no Python

### Características:

- Conjunto de Valores
- Ordenado - A ordem defini o índices dos elementos
- Heretogênio - Comporta quaisquer tipos de dados como elemento, inclusive listas
- Mutavél - Comporta mudanças naturalmente
- Aceita valores repetidos

In [1]:
# CRIANÇÃO

lista_A = list() #Explícta
lista_B = [] #Literal

print(lista_A, type(lista_A), lista_B, type(lista_B), sep="\n")

[]
<class 'list'>
[]
<class 'list'>

In [2]:
# EXEMPLOS:

numeros = [1,2,3,4,5,6,7,8,9,0]
vogais = ['a', 'e', 'i', 'o', 'u']

print(numeros, "\n", vogais)
print(type(numeros))
print(type(vogais))

caracteristicas = [
                    'Smaley',
                    'Marques',
                    True,
                    '13 anos',
                    2,
                    1.7,
                    130                     
]

print(caracteristicas, '\n', type(caracteristicas))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
 ['a', 'e', 'i', 'o', 'u']
<class 'list'>
<class 'list'>
['Smaley', 'Marques', True, '13 anos', 2, 1.7, 130]
 <class 'list'>

In [3]:
#ACESSANDO ELEMENTOS

print("Primeiro nome: ", caracteristicas[0])
print("Último nome: ", caracteristicas[1])
print("Casado: ", caracteristicas[2])
print("Tempo de Casado: ", caracteristicas[3])
print("Quantidade de filhos: ", caracteristicas[4])
print("Altura: ", caracteristicas[5])
print("Peso: ", caracteristicas[6])


print("O Último elemento da lista é:", caracteristicas[-1])

Primeiro nome:  Smaley
Último nome:  Marques
Casado:  True
Tempo de Casado:  13 anos
Quantidade de filhos:  2
Altura:  1.7
Peso:  130
O Último elemento da lista é: 130

In [4]:
#...LISTAS DENTRO DE LISTAS

caracteristicas = [
                        'Smaley',
                        'Marques',
                        True,
                        '13 anos',
                        2,
                        ['Evelyn', 'Kevin'],
                        1.7,
                        130                     
                        ]

print("Nome dos filhos:", caracteristicas[5])
print("Primeiro filho:", caracteristicas[5][0])
print("Segundo filho:", caracteristicas[5][1])

Nome dos filhos: ['Evelyn', 'Kevin']
Primeiro filho: Evelyn
Segundo filho: Kevin

In [5]:
#MANIPULANDO LISTAS

lista = [] #LISTA VAZIA
print("Esta é 'lista': ", lista)

nova_lista = [1,2,3,2,5]
print("Esta é 'nova_lista': ", nova_lista)

lista = lista + nova_lista #CONCATENANDO LISTAS
print("Concatenando 'lista' com 'nova_lista' usando '+': ",lista)

nova_lista = nova_lista * 2 #REPETINDO LISTAS
print("Repetindo 'nova_lista' usando '*2' : ", nova_lista)

lista.append(4) #ACRESCENTANDO LISTA
print("Acrescentando '4' em 'lista' com método 'append(4)': ",lista)

#CONTA OCORRENCIAS DO ELEMENTO
print("Contando ocorrências do elemento '2' em 'lista' com método 'count(2)': ",lista.count(2))

lista.sort() #ORDENA LISTA
print("Ordenando 'lista' com método 'sort()': ", lista)

lista.reverse() #INVERTE LISTA
print("Invertendo 'lista' com método 'reverse()': ", lista)

del nova_lista[0] #DELETANDO O ELEMENTO DE ÍNDICE [0]
print("Deletando o primeiro elemento de 'nova_lista' com função 'del': ", nova_lista)

nova_lista.pop() #REMOVENDO ELEMENTOS NO FINAL
print("Removendo o último elemento de 'nova_lista' com método 'pop()':", nova_lista)

nova_lista.pop(0) #REMOVENDO PRIMEIRO ELEMENTO
print("Removendo o primeiro elemento de 'nova_lista' com método 'pop(0)':", nova_lista)

lista.remove(2) #REMOVE A PRIMEIRA OCORRENCIA DO ELEMENTO
print("Removendo a primeira ocorrencia do elemento '2' de 'lista' com método 'remove(2)':", lista)

lista2 = lista.copy() #COPIA LISTA
print("Copiando 'lista' com método 'copy()': ",lista2)

lista2.clear() #LIMPA LISTA
print("Limpando 'lista2' com método 'clear()': ", lista2)

Esta é 'lista':  []
Esta é 'nova_lista':  [1, 2, 3, 2, 5]
Concatenando 'lista' com 'nova_lista' usando '+':  [1, 2, 3, 2, 5]
Repetindo 'nova_lista' usando '*2' :  [1, 2, 3, 2, 5, 1, 2, 3, 2, 5]
Acrescentando '4' em 'lista' com método 'append(4)':  [1, 2, 3, 2, 5, 4]
Contando ocorrências do elemento '2' em 'lista' com método 'count(2)':  2
Ordenando 'lista' com método 'sort()':  [1, 2, 2, 3, 4, 5]
Invertendo 'lista' com método 'reverse()':  [5, 4, 3, 2, 2, 1]
Deletando o primeiro elemento de 'nova_lista' com função 'del':  [2, 3, 2, 5, 1, 2, 3, 2, 5]
Removendo o último elemento de 'nova_lista' com método 'pop()': [2, 3, 2, 5, 1, 2, 3, 2]
Removendo o primeiro elemento de 'nova_lista' com método 'pop(0)': [3, 2, 5, 1, 2, 3, 2]
Removendo a primeira ocorrencia do elemento '2' de 'lista' com método 'remove(2)': [5, 4, 3, 2, 1]
Copiando 'lista' com método 'copy()':  [5, 4, 3, 2, 1]
Limpando 'lista2' com método 'clear()':  []

In [6]:
#OPERANDO LISTAS

idades = [5, 12, 31, 32]

print("Soma das idades: ", sum(idades))
print("Quantidade de idades: ", len(idades))
print("Média das idades: ", sum(idades)/len(idades))
print("Maior idade: ", max(idades))
print("Menor idade: ", min(idades))

Soma das idades:  80
Quantidade de idades:  4
Média das idades:  20.0
Maior idade:  32
Menor idade:  5

In [7]:
#FATIAMENTO (START : STOP: STEP)
listagem = [1,2,3,4,5,6,7,8,9]

print("Primeiros 4 Elementos:", listagem[:4])
print("3 Elementos do meio:", listagem[3:6])
print("Elementos do 5 em diante:", listagem[4:])
print("Elementos de 2 em 2:", listagem[::2])
print("Elementos invertidos:", listagem[::-1])

Primeiros 4 Elementos: [1, 2, 3, 4]
3 Elementos do meio: [4, 5, 6]
Elementos do 5 em diante: [5, 6, 7, 8, 9]
Elementos de 2 em 2: [1, 3, 5, 7, 9]
Elementos invertidos: [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [8]:
#PERCORRENDO LISTA (ITERANDO)

for i in listagem:
    print(i)

1
2
3
4
5
6
7
8
9

### LIST COMPREHENSION:

- Transformação
- Iteração
- Condição
- Uma única linha

In [ ]:
# NÚMEROS PARES DE 1 A 20

n_pares = [float(x) for x in range(1,21) if x % 2 == 0]

print(n_pares, "\n")

# PRIMEIROS NOMES DE UMA LISTA DE NOMES COMPOSTOS

nomes = ['Smaley Marques', 'Jeniffer Araujo de Amorim Marques', 'Evelyn Amorim Marques', 'Kevin Amorim Marques']

p_nomes = [nome.split()[0] for nome in nomes]
print(p_nomes)

[2.0, 4.0, 6.0, 8.0, 10.0, 12.0, 14.0, 16.0, 18.0, 20.0]

['Smaley', 'Jeniffer', 'Evelyn', 'Kevin']