## Tuplas no Python

### Características:

- Conjunto de Valores
- Ordenado - A Ordem defini o índices dos elementos
- Heretogênio - Comporta quaisquer tipos de dados como elemento, inclusive tuplas
- Imutavél - Não comporta mudanças ***Principal distinção de tuplas e as demais estruturas**
- Aceita valores repetidos

In [2]:
# CRIANÇÃO

tupla_A = tuple() #Explícta
tupla_B = () #Literal

print(tupla_A, type(tupla_A), tupla_B, type(tupla_B), sep="\n")

()
<class 'tuple'>
()
<class 'tuple'>

In [3]:
# EXEMPLOS:

numeros = (1,2,3,4,5,6,7,8,9,0)
vogais = ('a', 'e', 'i', 'o', 'u')

print(numeros, "\n", vogais)
print(type(numeros))
print(type(vogais))

caracteristicas = (
                    'Smaley',
                    'Marques',
                    True,
                    '13 anos',
                    2,
                    1.7,
                    130                     
)

print(caracteristicas, '\n', type(caracteristicas))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
 ('a', 'e', 'i', 'o', 'u')
<class 'tuple'>
<class 'tuple'>
('Smaley', 'Marques', True, '13 anos', 2, 1.7, 130)
 <class 'tuple'>

In [ ]:
#ACESSANDO ELEMENTOS (SEMELHANTE A LISTAS)

print("Primeiro nome: ", caracteristicas[0])
print("Último nome: ", caracteristicas[1])
print("Casado: ", caracteristicas[2])
print("Tempo de Casado: ", caracteristicas[3])
print("Quantidade de filhos: ", caracteristicas[4])
print("Altura: ", caracteristicas[5])
print("Peso: ", caracteristicas[6])


print("O Último elemento da lista é:", caracteristicas[-1])

Primeiro nome:  Smaley
Último nome:  Marques
Casado:  True
Tempo de Casado:  13 anos
Quantidade de filhos:  2
Altura:  1.7
Peso:  130
O Último elemento da lista é: 130

In [5]:
#...TUPLAS DENTRO DE TUPLAS

caracteristicas = (
                        'Smaley',
                        'Marques',
                        True,
                        '13 anos',
                        2,
                        ('Evelyn', 'Kevin'),
                        1.7,
                        130                     
                        )

print("Nome dos filhos:", caracteristicas[5])
print("Primeiro filho:", caracteristicas[5][0])
print("Segundo filho:", caracteristicas[5][1])

Nome dos filhos: ('Evelyn', 'Kevin')
Primeiro filho: Evelyn
Segundo filho: Kevin

In [7]:
#OPERANDO TUPLAS

idades = (5, 12, 31, 32)

print("Soma das idades: ", sum(idades))
print("Quantidade de idades: ", len(idades))
print("Média das idades: ", sum(idades)/len(idades))
print("Maior idade: ", max(idades))
print("Menor idade: ", min(idades))

Soma das idades:  80
Quantidade de idades:  4
Média das idades:  20.0
Maior idade:  32
Menor idade:  5

In [8]:
#FATIAMENTO (START : STOP: STEP)
listagem = (1,2,3,4,5,6,7,8,9)

print("Primeiros 4 Elementos:", listagem[:4])
print("3 Elementos do meio:", listagem[3:6])
print("Elementos do 5 em diante:", listagem[4:])
print("Elementos de 2 em 2:", listagem[::2])
print("Elementos invertidos:", listagem[::-1])

Primeiros 4 Elementos: (1, 2, 3, 4)
3 Elementos do meio: (4, 5, 6)
Elementos do 5 em diante: (5, 6, 7, 8, 9)
Elementos de 2 em 2: (1, 3, 5, 7, 9)
Elementos invertidos: (9, 8, 7, 6, 5, 4, 3, 2, 1)

In [9]:
#PERCORRENDO LISTA (ITERANDO)

for i in listagem:
    print(i)

1
2
3
4
5
6
7
8
9